
.*.sw?
.idea
terragrunt.iml
vendor
.terraform
.vscode
*.out
.terragrunt-cache
.bundle
.ruby-version
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
.DS_Store
mocks/
.go-version
.terragrunt-stack
.devcontainer.json
.cursor/

# lambda_function.zip
import.tf
venv
*.pem
__pycache__
*.pyc
lambda.zip

# Terraform secrets
*.tfvars
!*.tfvars.example
llmperf